# Cache files
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv

# Data
input/**
output/**

# Logs
logs/**

# Environment variables
.env

#tasks
.taskmaster/tasks/**.txt

#IDE config
.vscode/

#Coverage
htmlcov/
.coverage
coverage.xml
coverage.json